.Tasklist {
   padding: 15px;
   min-height: 290px;
}

.Tasklist_list {
   text-align: left;
   list-style: none;
   padding: 0;
   margin: 0;
   margin-top: 15px;
}

.Tasklist_step{
   padding-left: 18px;
}

.Tasklist_item {
   list-style: none;
   padding: 0;
   margin: 0;
   gap: 10px;
}


.Tasklist_text {
   text-align: left;
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
   transition: 0.3s;
}

.task-done {
   text-decoration: line-through;
}


.Tasklist_delete {
   overflow: hidden;
   height: 22px;
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
   opacity: 0;
   transition: 0.3s;
}

.Tasklist_delete svg {
   transform: rotate(45deg);
   padding-top: 5px;
}

.Tasklist_item:hover .Tasklist_text{
   color: white !important;
   transition: 0.3s;
}

.Tasklist_item:hover .Tasklist_delete{
   opacity: 1;
   transition: 0.3s;
}

