.Widget {
   display: flex;
   grid-template-columns: repeat(6, 1fr);
   gap: 5px;
   justify-content: center;
   padding-top: 0px;
}

.Widget_Icon {
   width: auto;
   line-height: 100%;
   text-align: center;
}

.Widget_text {
   font-size: 14px;
}