.Widget {
   display: flex;
   gap: 5px;
   justify-content: center;
   padding-top: 0px;
}

.button {
   background-color: transparent;
   border: none;
   padding: 0;
   cursor: pointer;
   color: inherit;
}

.Icon {
   width: auto;
   line-height: 100%;
   text-align: center;
}

.Icon path{
   color: initial;
   transition: 0.3s;
}

.Icon:hover path{
   fill: white !important;
   transition: 0.3s;
}

.text {
   font-size: 14px;
   margin-bottom: 3px;
}