.CurDate {
font-weight: 700;
}

.CurDate_time {
   font-size: 36px;
}

.CurDate_date {
   font-size: 13px;

}

.CurDate_week {
   font-size: 13px;
}

.CurDate_week span:not(:last-child) {
   padding-right: 3px;
}
.CurDate_week span:first-child {
   /* font-weight: 700; */
   text-decoration: underline;
}