.CurDate {
font-weight: 700;
padding: 15px;
}

.time {
   font-size: 36px;
}

.date {
   font-size: 13px;
}

.week {
   font-size: 13px;
}

.week span:not(:last-child) {
   padding-right: 3px;
}

.week span:first-child {
   text-decoration: underline;
}