.Clock {
   position: relative;
   padding: 15px;
}

.Clock_img {
   display: block;
   margin: 0 auto;
}

.Clock_acts{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.Clock_circle{
   position: absolute;
   top: 0;
   left: 0;
   z-index: -10;
}

.Clock_icons {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}

.Clock_icons svg {
   display: block;
   transform: scale(1.2);
}

.Clock_iconWrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 135px;
   height: 0;
   transform-origin: top left;
   }

.Clock_iconButton {
   position: absolute;
   bottom: 0;
   right: 0;
   background-color: transparent;
   border: none;
   padding: 0;
   cursor: pointer;
}

.Clock_iconButton path {
   color: initial;
   transition: 0.3s;
}

.Clock_iconButton:hover path {
   fill: white !important;
   transition: 0.3s;
}

.Clock_arrow {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.Clock_arrow::before {
   position: absolute;
   top: calc(50% - 4px);
   left: calc(50% - 4px);
   width: 8px;
   height: 93px;
   content: '';
   background-color: white;
   border-radius: 4px;
   transform-origin: top center;
}