/* .list {
   text-align: left;
   list-style: none;
   padding: 0;
   margin: 0;
   margin-top: 15px;
} */

/* .step{
   padding-left: 18px;
} */

/* .item {
   list-style: none;
   padding: 0;
   margin: 0;
   gap: 10px;
}

.text {
   text-align: left;
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
   transition: 0.3s;
}

.text:hover{
   color: white !important;
   transition: 0.3s;
}

.done {
   text-decoration: line-through;
}

.delete {
   overflow: hidden;
   height: 22px;
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
   opacity: 0;
   transition: 0.3s;
}

.delete svg {
   transform: rotate(45deg);
   padding-top: 5px;
}

.item:hover .delete{
   opacity: 1;
   transition: 0.3s;
}
 */
