.App {
  text-align: center;
  padding: 12px;
  color: white;
  display: grid;
  grid-template-columns: 290px 290px;
  grid-template-rows: auto;
  justify-content: center;
  
  gap: 15px;
}

.block {
  width: 290px;
  border-radius: 14px;
  padding: 0 15px;
  overflow: hidden;
  box-sizing: border-box;

}

.block {
  background-color: #34395038;
  
}
